.banner {
  color: white;
  padding: 150px 8%;
  background-size: cover;
  height: 650px;
  background-image: image-url('background.png');
  margin: 0;
  h1 {
    font-size: 50px;
    color: white;
  }

  p {
    font-size: 25px;
    font-weight: 100;
  }
  img {
    height: 100px;
  }
}
