<h2>Découvrez nos créations</h2>
<!-- REfaire une boucle ici, postionnment un peu tricky -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6"></div>
  </div>
</div>
