---
title: Re.creation
---

 <!-- Banner -->
  <div class='banner'>
    <%= image_tag "logo.png" %>
    <br>
    <p>
      Découvrez
      des objets à offrir, à personnaliser,
      à confectionner soi-même, <br>
      des ateliers créatifs pour enfants et plus grands,
      dans un lieu convivial.
    </p>
    <!-- <button data-toggle="modal" data-target="#sign-up" class="btn btn-primary">Join</button> -->
  </div>

  <div class="bg-pink">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="text-center">
            <%= image_tag "paper.svg", id: "paper" %>
            <h2>Atelier</h2>
            <p>
              Venez decouvrir nos <strong>ateliers</strong> pour vous et vos enfants
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="text-center">
            <!-- <img src="images/data.svg" alt="Salut google"> -->
            <%= image_tag "data.svg", alt: "salut goole"%>
            <h2>La boutique</h2>
            <p>
              Faite un tour a la <strong>boutique</strong> pour decouvrir nos coups de coeur
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="text-center">
            <!-- <img src="images/analytics.svg" alt="Salut google"> -->
            <%= image_tag "analytics.svg", alt: "Lilian Bich"%>
            <h2>Créations</h2>
            <p>
              Des <strong>créations</strong> maisons a la portée de tous
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
